*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}

h1{
    color: white;
    text-align: center;
}

h4{
    text-align: center;
    color: whitesmoke;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: 50%;
    padding: 0.252em;
    border: 1px solid white;
    border-radius: 5px;
}